.card-img-top{
    width: 30vw;
}
.list-group{
    margin-left: 50px;
}
.btn{
    margin-left: 90px;
    background-color: blue;
    
    color: white;
    justify-content: center;
    margin-top: 15px;
}
.card-body{
    border: 1px solid black;
}