.background{
    background-color: #52606d

}
.img{
    height: 40px;
    width: 40px;
}
.card{
    background-color: #323f4b;
}
.heading1{
    color: white;
}
.paragraph{
color: wheat;
}
.heading{
    color: yellowgreen;
}