.portfolio-aboutme-bgclr {
    background-color: #323f4b;
  }
  
  .portfolio-aboutme-paragraph {
    font-family: Roboto;
    font-size: 15px;
    color: #cced00;
  }
  
  .portfolio-aboutme-heading2 {
    font-family: Roboto;
    font-size: 25px;
    color: white;
  }
  
  .portfolio-aboutme-paragraph1 {
    font-family: Roboto;
    font-size: 13px;
    color: #9aa5b1;
  }
  
  .portfolio-aboutme-bgclr2 {
    background-color: #1f2933;
  }
  
  .rbgclr {
    border-radius: 5px;
  }
  
  .portfolio-aboutme-imgcards {
    height: 50px;
    width: 50px;
  }