@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.imglogo {
  height: 60px;
  width: 80px;
}

#navitem1 {
  color: #323f4b;
  font-family: Roboto;
}

#navitem2 {
  color: #323f4b;
  font-family: Roboto;
}

#navitem3 {
  color: #323f4b;
  font-family: Roboto;
}

#navitem4 {
  color: #323f4b;
  font-family: Roboto;
}

.bgimage {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
  height: 100vh;
  background-size: cover;
}

.heading {
  font-family: Roboto;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.button {
  background-color: #1a2137;
  font-family: Roboto;
  font-size: 15px;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  border-width: 0px;
  color: white;
}

.vr-background-color-features {
  background-color: white;
}

.features-heading1 {
  font-family: Roboto;
  font-size: 20px;
  color: #1f2933;
  font-weight: bold;
}

.features-img-cards {
  width: 50px;
  height: 50px;
}

.features-heading2 {
  font-family: Roboto;
  font-size: 15px;
  color: #1f2933;
}

.features-paragraph {
  font-family: Roboto;
  font-size: 12px;
  color: #7b8794;
}

.included-vr-kit-heading1 {
  font-family: Roboto;
  font-size: 20px;
  color: #1f2933;
}

.included-vr-kit {
  background-color: #f9fbfe;
}

.included-vr-kit-img {
  height: 165px;
  width: 150px;
}

.included-vr-kit-heading2 {
  font-family: Roboto;
  font-size: 15px;
  color: #323f4b;
}

.img-cards {
  width: 100px;
  height: 100px;
}

.heading1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #1f2933;
}

.paragraph1 {
  font-family: Roboto;
  font-size: 17px;
  color: #7b8794;
}

.button {
  font-family: Roboto;
  color: white;
  font-size: 15px;
  background-color: #1a2137;
  height: 40px;
  width: 110px;
  border-radius: 5px;
  border-width: 0px;
}

.trending-blogs-heading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #1f2933;
}

.trending-blogs-paragraph1 {
  font-family: Roboto;
  font-size: 12px;
  color: #959ead;
}

.trending-blogs-paragraph2 {
  font-family: Roboto;
  font-size: 17px;
  color: #323f4b;
}

.read-more-link {
  font-family: Roboto;
  color: #1754a1;
  font-weight: bold;
}

.trending-blogs-button {
  font-family: Roboto;
  font-size: 15px;
  background-color: #1754a1;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  width: 110px;
}

.products-heading {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  color: #1f2933;
}

.products-img1 {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
  background-size: cover;
  height: 100vh;
}

.products-heading1 {
  font-family: Roboto;
  font-size: 25px;
  color: white;
}

.products-paragraph {
  font-family: Roboto;
  font-size: 15px;
  color: white;
}

.products-button {
  font-family: Roboto;
  font-size: 13px;
  border-radius: 5px;
  background-color: transparent;
  height: 40px;
  width: 110px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.products-img2 {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
  background-size: cover;
  height: 100vh;
}

.products-button2 {
  font-family: Roboto;
  font-size: 13px;
  border-radius: 5px;
  background-color: #1754a1;
  height: 40px;
  width: 110px;
  color: white;
  border-width: 0px;
}

.bg-container{
    background-color: #222b36;
    height: 100vh;
    width: 100vw;
}
h1{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
button{
    color: white;
    padding: 6px;
    background-color: transparent;
    width: 120px;
    text-align: center;
    border: 2px solid white;
}
.contact-image{
    width: 270px;
    margin-bottom: 20px;
}