.heading{
    font-family: "Open Sans";
}
.btn{
    color: white;
    background-color: #0967d2;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin: 15px;
}
.bg-container{
    height: 70vh;
}